# Contents of the file: /user-service/user-service/.dockerignore

target/
*.jar
*.class
*.log
*.properties
.idea/
*.iml
*.gradle
*.DS_Store
*.zip
*.tar
*.tgz
*.bak
*.swp
*.tmp
*.orig
*.out
*.cache
*.project
*.classpath
*.settings/
*.vscode/
*.eclipse/
*.project
*.classpath
*.settings/
*.idea/
*.iml
*.gradle
*.DS_Store
*.zip
*.tar
*.tgz
*.bak
*.swp
*.tmp
*.orig
*.out
*.cache
*.project
*.classpath
*.settings/
*.vscode/
*.eclipse/