services:
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: api-gateway
    ports:
      - "4000:4000"
    # depends_on:
    # - user-service
    # - inventory-service
    # - order-service
    command: ["./mvnw", "spring-boot:run", "-Dspring-boot.run.fork=false"]
    networks:
      - e_com_network

networks:
  e_com_network:
    external: true
