server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      default-filters:
      - name: JwtAuthenticationFilter
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://user-service:8081
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=2
            
            - id: inventory-service
              uri: http://inventory-service:8082
              predicates:
                - Path=/api/inventory/**
              filters:
                - StripPrefix=2

            - id: order-service
              uri: http://order-service:8083
              predicates:
                - Path=/api/orders/**
              filters:
                - StripPrefix=2

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always