server:
  port: 4000

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://user-service:8081
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=2
                - JwtAuthenticationFilter
            
            - id: inventory-service
              uri: http://inventory-service:8082
              predicates:
                - Path=/api/inventory/**
              filters:
                - StripPrefix=2
                - JwtAuthenticationFilter

            - id: order-service
              uri: http://order-service:8083
              predicates:
                - Path=/api/orders/**
              filters:
                - StripPrefix=2
                - JwtAuthenticationFilter
            
            # - id: static_files_route
            #   uri: http://localhost:4000
            #   predicates:
            #   - Path=/uploads/**
            #   filters:
            #     - StripPrefix=1
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
  http:
    codec:
      max-in-memory-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always